
<!-- <div class="jumbotron">
  <h1>Employees Managment Tool</h1>
</div>
-->
<div class="row">
  <div class="col-md-8">
   <h2>Employees List</h2>
   <button class="btn btn-primary pull-right">New Employee</button>

   <div class="row">
     <div class="col-lg-12" data-role="filters">
      <h3>Filters</h3>
      <div class="alert examples-dismissable alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <p>Examples:</p>
        <ul>
          <li>
           Skills on specific location: <strong>Backbone.js</strong> @ <strong>Rosario</strong>.
         </li>
         <li>
           Someone on a location: <strong>Pedro</strong> @ <strong>Development</strong>.
         </li>
         <li>
           All the people on a project: <strong>Cool Project</strong>.
         </li>
         <li>
           Skill with availability: <strong>Backbone.js</strong> - <strong>Available</strong>.
         </li>
       </ul>
     </div>
     <form role="form">
      <div class="row filters-form">

        <div class="col-md-4">
          <label for="filterBy" class="control-label">Filter by:</label>
          <input type="search" class="form-control" id="filterBy" placeholder="Name, Skills, Projects...">
        </div>

        <div class="col-md-3">
          <label for="areaFilter" class="control-label">Area:</label>
          <select class="form-control" id="areaFilter">
            <option value="all">All</option>
            <option value="dev">Development</option>
            <option value="qa">Quality</option>
            <option value="hhrr">HHRR</option>
            <option value="mgt">Management</option>
          </select>
        </div>

        <div class="col-md-3">
         <label for="locationFilter" class="control-label">Location:</label>
         <select class="form-control" id="locationFilter">
          <option value="all">All</option>
          <optgroup label="Argentina">
            <option value="allarg">All Argentina</option>
            <option value="ros">Rosario</option>
            <option value="ba">Buenos Aires</option>
            <option value="par">Paraná</option>  
          </optgroup>
          <optgroup label="Colombia">
            <option value="mdl">Medellín</option>
          </optgroup>
          <optgroup label="Uruguay">
            <option value="mdo">Montevideo</option>
          </optgroup>
          <optgroup label="USA">
            <option value="us">USA</option>  
          </optgroup>
        </select>
      </div>

      <div class="col-md-2">
        <label for="availabilityFilter" class="control-label">Availability:</label>
        <select class="form-control" id="availabilityFilter">
          <option value="all">All</option>
          <option value="full">Full</option>
          <option value="part">Partial</option>
          <option value="none">None</option>
        </select>
      </div>

    </div>


  </form>

</div>



</div>

<div class="row">
  <div class="col-lg-12" data-role="list">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Name and Last Name</th>
          <th>Current Project</th>
          <th>Area</th>
          <th>Location</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="employee in employeesList">
          <td>{{employee.availability}}</td>
          <td><a href="" data-toggle="modal" data-target="#employeeQuickInfo">{{employee.name}} {{employee.lastname}}</a></td>
          <td>{{employee.currentProjects[0].projectName}}</td>
          <td>{{employee.area}}</td>
          <td>{{employee.location}}</td>
          <td><a href="#" ng-click="editEmployee(employee)"><span class="glyphicon glyphicon-pencil"></span></a></td>
          <td><a href="#" ng-click="removeEmployee(employee)"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


</div>

<div class="col-md-4 tools-set">
  <h2>Tools</h2>
  <h3>Quick filters <small>(Finds all)</small></h3>
  <h4>Availability</h4>
  <ul class="list-inline">
    <li>
      <a href="" class="btn btn-default btn-sm">Available</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">Parcial availability</a>
    </li>
  </ul>

  <h4>Area</h4>
  <ul class="list-inline">
    <li>
      <a href="" class="btn btn-default btn-sm">Development</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">Quality</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">HHRR</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">Management</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">Sales</a>
    </li>
  </ul>

  <h4>Location</h4>
  <ul class="list-inline">
    <li>
      <a href="" class="btn btn-default btn-sm">Rosario</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">Buenos Aires</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">Paraná</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">Montevideo</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">Medellín</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">USA</a>
    </li>
  </ul>

</div>



</div>


<!-- Modal -->
<div class="modal fade" id="employeeQuickInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Juan Perez <small>(<a href="">jperez@velocitypartners.net</a>)</small></h4>
      </div>
      <div class="modal-body">
        <div class="pull-right" data-role="UserImage">
          <img src="images/yeoman.png" class="img-rounded" alt="User Image">
        </div>
        <dl>
          <dt>Location:</dt>
          <dd>Rosario, AR</dd>

          <dt>Area and seniority:</dt>
          <dd>Developement, SSr level 2</dd>

          <dt>Skype account:</dt>
          <dd>juan.perez.vpa</dd>

          <hr>

          <dt>Skills:</dt>
          <dd>
            <ul class="list-inline">
              <li><span class="label label-primary">E</span> Skill name</li>
              <li><span class="label label-success">A</span> Skill name</li>
              <li><span class="label label-warning">I</span> Skill name</li>
              <li><span class="label label-danger">B</span> Skill name</li>
            </ul>
          </dd>

          <hr>

          <dt>Current Project:</dt>
          <dd>Developer @ <strong>Cool Project</strong>. Started: Aug, 21 2012.</dd>
          <dt>History:</dt>
          <dd>
            <ul id="projectHistory">
              <li><small>08/20/10 to 04/03/11</small> - Developer @ <strong>Cool Project</strong>. <a href="" class="pull-right">[-]</a>
                <div class="project-info">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus ligula ut sem pharetra, non blandit massa condimentum. Curabitur scelerisque, nibh at varius venenatis, turpis erat posuere augue, a blandit mauris tortor vitae nisl. Proin luctus massa nisi, ac feugiat tortor vulputate quis.
                </div>
              </li>
              <li><small>08/20/10 to 04/03/11</small> - Developer @ <strong>Cool Project</strong>. <a href="" class="pull-right">[+]</a>
                <div class="project-info hide">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus ligula ut sem pharetra, non blandit massa condimentum. Curabitur scelerisque, nibh at varius venenatis, turpis erat posuere augue, a blandit mauris tortor vitae nisl. Proin luctus massa nisi, ac feugiat tortor vulputate quis.
                </div>
              </li>
            </ul>
          </dd>

          <hr>

          <dt>Travel Info:</dt>
          <dd>Passport: valid until Jan 2016</dd>
          <dd>US Visa: valid until May 2020</dd>

          <hr>

          <dt>Education:</dt>
          <dd><span class="label label-success">Completo</span> Ingeniero en Sistemas, UNR. (2012)</dd>
          <dd><span class="label label-warning">En curso</span> Ingeniero en Sistemas, UNR. (2012)</dd>
          <dd><span class="label label-danger">No finalizado</span> Ingeniero en Sistemas, UNR. (2012)</dd>

        </dl>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Edit this employee</button>
      </div>
    </div>
  </div>
</div>

