
<!-- <div class="jumbotron">
  <h1>Employees Managment Tool</h1>
</div>
-->
<div class="row">
  <div class="col-md-8">
   <h2>Employees List </h2>
   <p>Currently we have: {{employeesList.length}} employees.</p>
   <button class="btn btn-info pull-right new-employee">New Employee</button>

   <div class="row">
     <div class="col-lg-12" data-role="filters">
      <h3>Filters</h3>
      <div class="alert examples-dismissable alert-dismissable" ng-show="examplesVisibility">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="dismissExamples()">&times;</button>
        <p>Examples:</p>
        <ul>
          <li>
           Skills on specific location: <strong>Backbone.js</strong> @ <strong>Rosario</strong>.
         </li>
         <li>
           Someone of a specific area: <strong>Pedro</strong> @ <strong>Development</strong>.
         </li>
         <li>
           All the people on a project: <strong>Cool Project</strong>.
         </li>
         <li>
           Skill with availability: <strong>Backbone.js</strong> - <strong>Available</strong>.
         </li>
       </ul>
     </div>
     
     <div class="row filters-form">

        <div class="col-md-4">
          <label for="filterBy" class="control-label">Filter by:</label>
          <input type="search" name="search" ng-model="filterBy.search" class="form-control" placeholder="Name, Skills, Projects..."
           >
        </div>

        <div class="col-md-3">
          <label for="area" class="control-label">Area:</label>
          <select class="form-control" id="area" name="area" ng-model="filterBy.area" ng-options="area.name for area in areaList">
          </select>
        </div>

        <div class="col-md-3">
         <label for="locationFilter" class="control-label">Location:</label>
         <select class="form-control" id="locationFilter" name="locationFilter" ng-model="filterBy.location" ng-options="location.city for location in locationList">
        </select>
      </div>

      <div class="col-md-2">
        <label for="availabilityFilter" class="control-label">Availability:</label>
        <select class="form-control" id="availabilityFilter" name="availabilityFilter" ng-model="filterBy.availability" ng-options="availability.name for availability in availabilityList">
        </select>
      </div>

    </div>

</div>



</div>

<div class="row">
  <div class="col-lg-12" data-role="list">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Available</th>
            <th>Name and Last Name</th>
            <th>Current Project/s</th>
            <th>Area</th>
            <th>Location</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="employee in employeesList | filter:{name: filterBy.search} | location:filterBy | area:filterBy | availability:filterBy">
            <td>{{employee.availability}}</td>
            <td><a href="" data-toggle="modal" data-target="#employeeQuickInfo" ng-click="selectEmployee(employee)">{{employee.name}} {{employee.lastname}}</a></td>
            <td>{{ displayCurrentProjects(employee.currentProjects) }}</td>
            <td>{{employee.area}}</td>
            <td>{{employee.location.city}}</td>
            <td><a href="#" ng-click="editEmployee(employee)"><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href="#" ng-click="removeEmployee(employee)"><span class="glyphicon glyphicon-trash"></span></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


</div>

<div class="col-md-4 tools-set">
  <h2>Tools</h2>
  <h3>Quick filters <small>(Finds all)</small></h3>
  <h4>Availability</h4>
  <ul class="list-inline">
    <li>
      <a href="" class="btn btn-default btn-sm">Available</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">Parcial availability</a>
    </li>
  </ul>

  <h4>Area</h4>
  <ul class="list-inline">
    <li>
      <a href="" class="btn btn-default btn-sm">Development</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">Quality</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">HHRR</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">Management</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">Sales</a>
    </li>
  </ul>

  <h4>Location</h4>
  <ul class="list-inline">
    <li>
      <a href="" class="btn btn-default btn-sm">Rosario</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">Buenos Aires</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">Paraná</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">Montevideo</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">Medellín</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">USA</a>
    </li>
  </ul>

</div>



</div>


<!-- Modal -->
<div ng-include="'views/employee.html'"></div>
