
<!-- <div class="jumbotron">
  <h1>Employees Managment Tool</h1>
</div>
-->
<div class="row">
  <div class="col-md-8">
   <h2>Employees List</h2>
   <a class="btn btn-info pull-right" ng-href="/#/add_edit_employee">New Employee</a>

   <div class="row">
     <div class="col-lg-12" data-role="filters">
      <h3>Filters</h3>
      <div class="alert examples-dismissable alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <p>Examples:</p>
        <ul>
          <li>
           Skills on specific location: <strong>Backbone.js</strong> @ <strong>Rosario</strong>.
         </li>
         <li>
           Someone on a location: <strong>Pedro</strong> @ <strong>Development</strong>.
         </li>
         <li>
           All the people on a project: <strong>Cool Project</strong>.
         </li>
       </ul>
     </div>
     <form role="form">
      <div class="row filters-form">

        <div class="col-md-4">
          <label for="filterBy" class="control-label">Filter by:</label>
          <input type="search" class="form-control" id="filterBy" placeholder="Name, Skills, Projects..." ng-model="filterInput">
        </div>

        <div class="col-md-3">
          <label for="areaFilter" class="control-label">Area:</label>
          <select class="form-control" id="areaFilter" ng-model="filterArea">
            <option value="all">All</option>
            <option value="Development">Development</option>
            <option value="Quality">Quality</option>
            <option value="HHRR">HHRR</option>
            <option value="Accountant">Accountant</option>
            <option value="Management">Management</option>
          </select>
        </div>

        <div class="col-md-3">
         <label for="locationFilter" class="control-label">Location:</label>
         <select class="form-control" id="locationFilter" ng-model="filterLocation">
          <option value="all">All</option>
          <optgroup label="Argentina">
            <option value="Argentina">All Argentina</option>
            <option value="Rosario">Rosario</option>
            <option value="BuenosAires">Buenos Aires</option>
            <option value="Parana">Paraná</option>  
          </optgroup>
          <optgroup label="Colombia">
            <option value="Medellin">Medellín</option>
          </optgroup>
          <optgroup label="Uruguay">
            <option value="Montevideo">Montevideo</option>
          </optgroup>
          <optgroup label="USA">
            <option value="USA">USA</option>  
          </optgroup>
        </select>
      </div>

    </div>


  </form>

</div>



</div>

<div class="row">
  <div class="col-lg-12" data-role="list">
    <table class="table">
      <thead>
        <tr>
          <th>Name and Last Name</th>
          <th>Current Project/s</th>
          <th>Area</th>
          <th>Location</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="employee in employeesList | filter:filterArea | filter:filterInput | filter:filterLocation | filter:availabilityFilter">
          <td><a href="" ng-click="selectEmployee(employee)" data-toggle="modal" data-target="#employeeQuickInfo">{{employee.name}} {{employee.lastname}}</a></td>
          <td>{{ displayCurrentProjects(employee.currentProjects) }}</td>
          <td>{{employee.area}}</td>
          <td>{{employee.location}}</td>
          <td><a href="" ng-href="/#/add_edit_employee" ng-click="selectEmployee(employee)"><span class="glyphicon glyphicon-pencil"></span></a></td>
          <td><a href="" ng-confirm-click="Do you want to remove this employee?" ng-click="removeEmployee(employee)"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


</div>

<div class="col-md-4 tools-set">
  <h2>Tools</h2>
  <h3>Quick filters <small>(Finds all)</small></h3>

  <h4>Area</h4>
  <ul class="list-inline">
    <li>
      <a href="" class="btn btn-default btn-sm">Development</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">Quality</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">HHRR</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">Management</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">Sales</a>
    </li>
  </ul>

  <h4>Location</h4>
  <ul class="list-inline">
    <li>
      <a href="" class="btn btn-default btn-sm">Rosario</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">Buenos Aires</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">Paraná</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">Montevideo</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">Medellín</a>
    </li>
    <li>
      <a href="" class="btn btn-default btn-sm">USA</a>
    </li>
  </ul>

</div>



</div>


<!-- Modal -->
<employee-details></employee-details>
