<!-- Modal -->
<div class="modal fade" id="employeeQuickInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Juan Perez <small>(<a href="">jperez@velocitypartners.net</a>)</small></h4>
      </div>
      <div class="modal-body">
        <div class="pull-right" data-role="UserImage">
          <img src="images/yeoman.png" class="img-rounded" alt="User Image">
        </div>
        <dl>
          <dt>Location:</dt>
          <dd>Rosario, AR</dd>

          <dt>Area and seniority:</dt>
          <dd>Developement, SSr level 2</dd>

          <dt>Skype account:</dt>
          <dd>juan.perez.vpa</dd>

          <hr>

          <dt>Skills:</dt>
          <dd>
            <ul class="list-inline">
              <li><span class="label label-primary">E</span> Skill name</li>
              <li><span class="label label-success">A</span> Skill name</li>
              <li><span class="label label-warning">I</span> Skill name</li>
              <li><span class="label label-danger">B</span> Skill name</li>
            </ul>
          </dd>

          <hr>

          <dt>Current Project:</dt>
          <dd>Developer @ <strong>Cool Project</strong>. Started: Aug, 21 2012.</dd>
          <dt>History:</dt>
          <dd>
            <ul id="projectHistory">
              <li><small>08/20/10 to 04/03/11</small> - Developer @ <strong>Cool Project</strong>. <a href="" class="pull-right">[-]</a>
                <div class="project-info">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus ligula ut sem pharetra, non blandit massa condimentum. Curabitur scelerisque, nibh at varius venenatis, turpis erat posuere augue, a blandit mauris tortor vitae nisl. Proin luctus massa nisi, ac feugiat tortor vulputate quis.
                </div>
              </li>
              <li><small>08/20/10 to 04/03/11</small> - Developer @ <strong>Cool Project</strong>. <a href="" class="pull-right">[+]</a>
                <div class="project-info hide">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus ligula ut sem pharetra, non blandit massa condimentum. Curabitur scelerisque, nibh at varius venenatis, turpis erat posuere augue, a blandit mauris tortor vitae nisl. Proin luctus massa nisi, ac feugiat tortor vulputate quis.
                </div>
              </li>
            </ul>
          </dd>

          <hr>

          <dt>Travel Info:</dt>
          <dd>Passport: valid until Jan 2016</dd>
          <dd>US Visa: valid until May 2020</dd>

          <hr>

          <dt>Education:</dt>
          <dd><span class="label label-success">Completo</span> Ingeniero en Sistemas, UNR. (2012)</dd>
          <dd><span class="label label-warning">En curso</span> Ingeniero en Sistemas, UNR. (2012)</dd>
          <dd><span class="label label-danger">No finalizado</span> Ingeniero en Sistemas, UNR. (2012)</dd>

        </dl>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Edit this employee</button>
      </div>
    </div>
  </div>
</div>

