<div class="row">

  <div class="col-md-8">
    <h2>Open Positions</h2>
    <dl>
      <dt>Java SSr. </dt>
      <dd>
        <ul class="list-inline">
          <li><span class="label label-default">Medellin</span></li>
        </ul> 
        <ul class="list-unstyled">
          <li>+2 years of experience</li>
          <li>English Intermediate</li>
        </ul>
      </dd>
    </dl>
  </div>

  <div class="col-md-4">
    <h2>Technical Interviewers</h2>

    <h3>FrontEnd</h3>
    <ul>
      <li><a href="">Juan Perez</a></li>
    </ul>

    <h3>Java</h3>
    <ul>
      <li><a href="">Juan Perez</a></li>
    </ul>

    <h3>.net</h3>
    <ul>
      <li><a href="">Juan Perez</a></li>
    </ul>

    <h3>DBA</h3>
    <ul>
      <li><a href="">Juan Perez</a></li>
    </ul>

    <h3>QA</h3>
    <ul>
      <li><a href="">Juan Perez</a></li>
    </ul>

    <h3>Automation</h3>
    <ul>
      <li><a href="">Juan Perez</a></li>
    </ul>

    <h3>Ruby</h3>
    <ul>
      <li><a href="">Juan Perez</a></li>
    </ul>

    <h3>PHP</h3>
    <ul>
      <li><a href="">Juan Perez</a></li>
    </ul>

    <h3>Mobile</h3>
    <ul>
      <li><a href="">Juan Perez</a></li>
    </ul>

    <h3>iOS</h3>
    <ul>
      <li><a href="">Juan Perez</a></li>
    </ul>

    <h3>Android</h3>
    <ul>
      <li><a href="">Juan Perez</a></li>
    </ul>

  </div>

</div>