/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* APP */
.alert{
  background: #ed1d24;
}
.btn-info{
  background-color: #5bc5bf;
  border-color:#39b3ac; 
}
.container-fluid{
  overflow: hidden;
}
.header, .content-wrapper, .footer{
  padding: 0 20px;
}
.footer p{
  margin-top: 10px;
}

/* FILTERS */
.filters-form{
  margin-bottom: 20px;
}

.filters-form .control-label, .filters-form .form-control{
  width: 100%;
}

.examples-dismissable{
  background:#f6f6f6; 
}

/* TOOLS */
.tools-set .list-inline li{
  margin-bottom: 10px;
}

/* test */
html[data-useragent*='MSIE 10.0'] body {
  background: blue;
}

/* open positions */
.op-module{
  border: 1px solid #ddd;
  margin-right: 1%;
  width: 49%;
}
.op-module button{
  margin-bottom: 20px;
}

input[type='range'] {
    height:7px;
    width: 100%;
}

/* RECRUITING */
legend small{
  color: #a3a3a3;
  font-size: 70%;
}
.candidate-eval td{
  text-align: center;
}
.candidate-eval tbody tr>th{
  width: 160px;
}
.top-space{
  margin-top: 40px;
}
.bottom-space{
  margin-bottom: 40px;
}

.interview-feedback dd{
  margin-bottom: 20px;
  width: 95%;
}