<div class="container top-padding">
  <div class="row center">

    <h3 class="header">Cuéntanos un poco más de ti</h3>
    <p>Elige los temas que te interesan para recibir las últimas noticias y artículos especialmente 
      seleccionados para ti.</p>

      <!-- loop interests -->
      <a class="btn interest-tag" ng-repeat="interest in interests" ng-class="{'light-blue': interest.isSelected}" ng-click="modifyInterest(interest)">{{interest.keyword}} <i class="mdi-navigation-check right" ng-show="interest.isSelected"></i></a>
      <!-- /loop interests -->

      <hr class="interest-controllers"/>

      <div class="row center interest-controllers">
        <div class="col s6">
          <a ng-href="/#/home" class="btn fixed-width btn-large grey lighten-1">Saltear</a>
        </div>
        <div class="col s6">
          <button type="button" class="btn fixed-width btn-large" ng-click="addPreferences()">Siguiente</button>
        </div>
      </div>

    </div>
  </div>