<!-- Modal -->
<div class="modal fade" id="candidateContactInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Jorge Gomez</h4>
      </div>
      <div class="modal-body">
        <dl>
          <dt>Location:</dt>
          <dd>Rosario, AR</dd>

          <dt>Email:</dt>
          <dd><a href="mailto:juanperez@gmail.com">juanperez@gmail.com</a></dd>

          <dt>Phone:</dt>
          <dd>+54 341 3000001</dd>

          <dt>Skype account:</dt>
          <dd>juan.perez.vpa</dd>
        </dl>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

