<!-- Modal -->
<div class="modal fade" id="candidateTechInterview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Jorge Gomez</h4>
      </div>
      <div class="modal-body interview-feedback">
        <div class="row">
          <div class="col-md-12">
            <h4>Interview Information</h4>
          </div>
        </div>
        
        <dl>
          <div class="row">
            <div class="col-md-6">

              <dt>Date:</dt>
              <dd>Jul 26, 2014</dd>

              <dt>Main Technology:</dt>
              <dd>Flash</dd>

              <dt>Applied Position:</dt>
              <dd>Development</dd>
            </div>

            <div class="col-md-6">
              <dt>Applied Seniority:</dt>
              <dd>Ssr Level 2</dd>

              <dt>Interviewer 1:</dt>
              <dd>José Vélez</dd>

              <dt>Interviewer 2:</dt>
              <dd>Matías Sánchez</dd>

            </div>
          </div>
        </dl>
        <hr>

        <div class="row">
          <div class="col-md-12">
            <h4>Technical Interview</h4>
          </div>

        </div>
        <dl>
          <div class="row">
            <div class="col-md-6">
              <dt>English Level:</dt>
              <dd>Intermediate</dd>

              <dt>English Comments:</dt>
              <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at metus orci. Fusce ipsum ipsum, facilisis eu odio eu, commodo pretium massa. In scelerisque congue mauris a aliquam. </dd>

              <dt>Technical Background:</dt>
              <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at metus orci. Fusce ipsum ipsum, facilisis eu odio eu, commodo pretium massa. In scelerisque congue mauris a aliquam. </dd>

              <dt>Experience:</dt>
              <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at metus orci. Fusce ipsum ipsum, facilisis eu odio eu, commodo pretium massa. In scelerisque congue mauris a aliquam. </dd>

              <dt>Strengths:</dt>
              <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at metus orci. Fusce ipsum ipsum, facilisis eu odio eu, commodo pretium massa. In scelerisque congue mauris a aliquam. </dd>
            </div>
            <div class="col-md-6">
              <dt>Weaknesses:</dt>
              <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at metus orci. Fusce ipsum ipsum, facilisis eu odio eu, commodo pretium massa. In scelerisque congue mauris a aliquam. </dd>

              <dt>Agile Experience:</dt>
              <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at metus orci. Fusce ipsum ipsum, facilisis eu odio eu, commodo pretium massa. In scelerisque congue mauris a aliquam. </dd>

              <dt>Interests:</dt>
              <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at metus orci. Fusce ipsum ipsum, facilisis eu odio eu, commodo pretium massa. In scelerisque congue mauris a aliquam. </dd>

              <dt>Leadership:</dt>
              <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at metus orci. Fusce ipsum ipsum, facilisis eu odio eu, commodo pretium massa. In scelerisque congue mauris a aliquam. </dd>

              <dt>Seniority:</dt>
              <dd>SSr Level 2</dd>

              <dt>Scoring for the position:</dt>
              <dd>4</dd>
            </div>
          </div>
        </dl>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <h4>Candidate Evaluation</h4>
          </div>
        </div>
        <dl>
        <div class="row">
          <div class="col-md-6">
            <dt>Technical Knowledge:</dt>
            <dd>Satisfactory</dd>
            <dt>Initiative:</dt>
            <dd>Poor</dd>
            <dt>Communication / Listening skills:</dt>
            <dd>Fair</dd>
          </div>
          <div class="col-md-6">
            <dt>Attitude:</dt>
            <dd>Good</dd>
            <dt>Interest in the company / position:</dt>
            <dd>Very Good</dd>
          </div>
        </div>
        </dl>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <h4>Additional Comments</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at metus orci. Fusce ipsum ipsum, facilisis eu odio eu, commodo pretium massa. In scelerisque congue mauris a aliquam.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

