<div class="row">
  <div class="col-md-6 op-module">
    <h4>Java SSr</h4>
    <span class="label label-default">Montevideo</span>
    <hr>
    <p>Skill 1, Skill 2, Skill 3</p>
    <button type="button" class="btn btn-default pull-right btn-sm">Send Referred</button>
  </div>
  <div class="col-md-6 op-module">
    <h4>UI Developer SSr</h4>
    <span class="label label-default">Paraná</span>
    <hr>
    <p>Skill 1, Skill 2, Skill 3</p>
    <button type="button" class="btn btn-default pull-right btn-sm">Send Referred</button>
  </div>
</div>