<div class="row">
  <div class="col-md-12">
   <h2>Technical Feedback</h2>
   <form role="form" class="form-horizontal">
     <div class="row">
      <div class="col-md-5">
        <fieldset>
          <legend>Interview Information (Completed by HR)</legend>

          <div class="form-group">
            <label for="candidateName" class="col-sm-4 control-label">Candidate:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="candidateName" placeholder="Jack Jones">
            </div>
          </div>
          <div class="form-group">
            <label for="date" class="col-sm-4 control-label">Date:</label>
            <div class="col-sm-8">
              <input type="date" class="form-control" id="date" placeholder="April, 23 2014">
            </div>
          </div>
          <div class="form-group">
            <label for="time" class="col-sm-4 control-label">Time:</label>
            <div class="col-sm-8">
              <input type="time" class="form-control" id="time" placeholder="Smith">
            </div>
          </div>
          <div class="form-group">
            <label for="tech" class="col-sm-4 control-label">Technology:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="tech" placeholder="JavaScript ">
            </div>
          </div>
          <div class="form-group">
            <label for="int1" class="col-sm-4 control-label">Interviewer 1:</label>
            <div class="col-sm-8">
              <select class="form-control" id="int1">
                <option value="1">Pedro García</option>
                <option value="2">José Pérez</option>
                <option value="3">Jorge Gómez</option>
                <option value="other">Other</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="int2" class="col-sm-4 control-label">Interviewer 2:</label>
            <div class="col-sm-8">
              <select class="form-control" id="int2">
                <option value="1">Pedro García</option>
                <option value="2">José Pérez</option>
                <option value="3">Jorge Gómez</option>
                <option value="other">Other</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="appPosition" class="col-sm-4 control-label">Applied Position:</label>
            <div class="col-sm-8">
              <select class="form-control" id="appPosition">
                <option value="dev">Development</option>
                <option value="qa">Quality</option>
                <option value="hhrr">HR</option>
                <option value="mgt">Management</option>
                <option value="sales">Sales</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="appSeniority" class="col-sm-4 control-label">Applied Seniority:</label>
            <div class="col-sm-8">
              <select class="form-control" id="appSeniority">
                <option value="jr">Associate</option>
                <option value="ssr2">SSr Level 2</option>
                <option value="ssr1">SSr Level 1</option>
                <option value="sr2">Sr Level 2</option>
                <option value="sr1">Sr Level 1</option>
                <option value="tl">Team Lead</option>
                <option value="ref">Referent</option>
                <option value="none">Not required</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="client" class="col-sm-4 control-label">Client:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="client" placeholder="Client Name">
            </div>
          </div>

        </fieldset>
      </div>
      <!-- column 2 ////////////////////////// -->
      <div class="col-md-6 col-md-offset-1">
        <fieldset>
          <legend>Technical Review</legend>
          
          <div class="form-group">
            <label for="engLevel" class="col-sm-4 control-label">English Level:</label>
            <div class="col-sm-8">
              <input type="range" min="0" max="5" id="engLevel" name="engLevel" value="0" />
              <small>begginer</small><small class="pull-right">advanced</small>
            </div>
          </div>
          <div class="form-group">
            <label for="engComments" class="col-sm-4 control-label">English comments:</label>
            <div class="col-sm-8">
              <textarea class="form-control" rows="3" name="engComments" id="engComments"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="techBg" class="col-sm-4 control-label">Technical Background:</label>
            <div class="col-sm-8">
              <textarea class="form-control" rows="3" name="techBg" id="techBg"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="experience" class="col-sm-4 control-label">Experience:</label>
            <div class="col-sm-8">
              <textarea class="form-control" rows="3" name="experience" id="experience"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="strengths" class="col-sm-4 control-label">Strengths:</label>
            <div class="col-sm-8">
              <textarea class="form-control" rows="3" name="strengths" id="strengths"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="weaknesses" class="col-sm-4 control-label">Weaknesses:</label>
            <div class="col-sm-8">
              <textarea class="form-control" rows="3" name="weaknesses" id="weaknesses"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="agileExp" class="col-sm-4 control-label">Agile Experience:</label>
            <div class="col-sm-8">
              <textarea class="form-control" rows="3" name="agileExp" id="agileExp"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="interests" class="col-sm-4 control-label">Interests:</label>
            <div class="col-sm-8">
              <textarea class="form-control" rows="3" name="interests" id="interests"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="leadership" class="col-sm-4 control-label">Leadership:</label>
            <div class="col-sm-8">
              <textarea class="form-control" rows="3" name="leadership" id="leadership"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="seniority" class="col-sm-4 control-label">Seniority:</label>
            <div class="col-sm-8">
              <select class="form-control" id="seniority">
                <option value="jr">Associate</option>
                <option value="ssr2">SSr Level 2</option>
                <option value="ssr1">SSr Level 1</option>
                <option value="sr2">Sr Level 2</option>
                <option value="sr1">Sr Level 1</option>
                <option value="tl">Team Lead</option>
                <option value="ref">Referent</option>
                <option value="none">Not required</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="scoring" class="col-sm-4 control-label">Scoring for the position</label>
            <div class="col-sm-8">
              <input type="range" min="1" max="5" id="scoring" name="scoring" value="1" />
              <small>1 (lowest)</small><small class="pull-right">5 (highest)</small>
            </div>
          </div>
          
        </fieldset>

      </div>

    </div>
    <div class="row">
      <div class="col-md-6">
        <fieldset>
          <legend>Candidate Evaluation</legend>

          <table class="table candidate-eval">
            <thead>
              <tr>
                <th></th>
                <th>Poor</th>
                <th>Fair</th>
                <th>Satisfactory</th>
                <th>Good</th>
                <th>Very Good</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Technical Knowledge</th>
                <td><label><input type="radio" optgroup="techknowledge" value="poor"></label></td>
                <td><label><input type="radio" optgroup="techknowledge" value="fair"></label></td>
                <td><label><input type="radio" optgroup="techknowledge" value="satisfactory"></label></td>
                <td><label><input type="radio" optgroup="techknowledge" value="good"></label></td>
                <td><label><input type="radio" optgroup="techknowledge" value="verygood"></label></td>
              </tr>
              <tr>
                <th>Initiative</th>
                <td><label><input type="radio" optgroup="initiative" value="poor"></label></td>
                <td><label><input type="radio" optgroup="initiative" value="fair"></label></td>
                <td><label><input type="radio" optgroup="initiative" value="satisfactory"></label></td>
                <td><label><input type="radio" optgroup="initiative" value="good"></label></td>
                <td><label><input type="radio" optgroup="initiative" value="verygood"></label></td>
              </tr>
              <tr>
                <th>Communication / Listening skills</th>
                <td><label><input type="radio" optgroup="communication" value="poor"></label></td>
                <td><label><input type="radio" optgroup="communication" value="fair"></label></td>
                <td><label><input type="radio" optgroup="communication" value="satisfactory"></label></td>
                <td><label><input type="radio" optgroup="communication" value="good"></label></td>
                <td><label><input type="radio" optgroup="communication" value="verygood"></label></td>
              </tr>
              <tr>
                <th>Attitude</th>
                <td><label><input type="radio" optgroup="attitude" value="poor"></label></td>
                <td><label><input type="radio" optgroup="attitude" value="fair"></label></td>
                <td><label><input type="radio" optgroup="attitude" value="satisfactory"></label></td>
                <td><label><input type="radio" optgroup="attitude" value="good"></label></td>
                <td><label><input type="radio" optgroup="attitude" value="verygood"></label></td>
              </tr>
              <tr>
                <th>Interest in the company / position</th>
                <td><label><input type="radio" optgroup="interest" value="poor"></label></td>
                <td><label><input type="radio" optgroup="interest" value="fair"></label></td>
                <td><label><input type="radio" optgroup="interest" value="satisfactory"></label></td>
                <td><label><input type="radio" optgroup="interest" value="good"></label></td>
                <td><label><input type="radio" optgroup="interest" value="verygood"></label></td>
              </tr>
            </tbody>
          </table>

        </fieldset>
      </div>
      <div class="col-md-6">
        <fieldset>
          <legend>Hiring Recommendations</legend>
          <div class="radio">
            <label>
              <input type="radio" optgroup="hiringrec" value="yes" name="applythisposition" id="applythisposition" />
              Applies for this position
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" optgroup="hiringrec" value="no" name="applythisposition" id="applythisposition" />
              Does not apply for this position
            </label>
          </div>
           <div class="radio">
            <label>
              <input type="radio" optgroup="hiringrec" value="notnow" name="applythisposition" id="applythisposition" />
              Might be a good addition some other time
            </label>
          </div>
          <hr>
          <div class="form-group">
            <label for="hireSeniority" class="col-sm-4 control-label">Hire Seniority:</label>
            <div class="col-sm-8">
              <select class="form-control" id="hireSeniority">
                <option value="jr">Associate</option>
                <option value="ssr2">SSr Level 2</option>
                <option value="ssr1">SSr Level 1</option>
                <option value="sr2">Sr Level 2</option>
                <option value="sr1">Sr Level 1</option>
                <option value="tl">Team Lead</option>
                <option value="ref">Referent</option>
                <option value="none">Not required</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="comments" class="col-sm-4 control-label">Additional Comments:</label>
            <div class="col-sm-8">
              <textarea class="form-control" rows="3" name="comments" id="comments"></textarea>
            </div>
          </div>

        </fieldset>
      </div>
    </div>
    <button type="submit" class="btn btn-primary pull-right">Submit</button>
  </form>

</div>

</div>