<section id="upcoming-interviews">
  <div class="row">
    <div class="col-md-12">
      <h2>Interviews</h2>
      <div class="row">
        <div class="col-md-12">
          <ul class="list-inline pull-right">
            <li><a href class="btn btn-info" ng-href="/#/recruiting/tech_feedback">Add Prospect</a></li>
            <li><button type="button" class="btn btn-info">New Interview</button></li>
            <li><a href class="btn btn-primary" ng-href="/#/recruiting/tech_feedback">Add Feedback</a></li>
          </ul>
        </div>
      </div>

       <div class="row">
        <div class="col-md-12">
          <h3>Prospects <small>(Technical Interviews not yet scheduled)</small></h3>
         <table class="table">
          <thead>
            <tr>
              <th>Location</th>
              <th>Interviewee</th>
              <th>Email</th>
              <th>Position</th>
              <th>Seniority</th>
              <th>HR</th>
              <th>Resume</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Rosario</td>
              <td>José González</td>
              <td><a href="mailto:mail@mail.com">mail@mail.com</a></td>
              <td>PHP developer</td>
              <td>Ssr/Sr</td>
              <td>Marianela</td>
              <td><a href=""><span class="glyphicon glyphicon-paperclip"></span></a></td>
            </tr>
            <tr>
              <td>Montevideo</td>
              <td>José González</td>
              <td><a href="mailto:mail@mail.com">mail@mail.com</a></td>
              <td>PHP developer</td>
              <td>Jr/Ssr</td>
              <td>Camila</td>
              <td><a href=""><span class="glyphicon glyphicon-paperclip"></span></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Scheduled Technical Interviews</h3>
         <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Location</th>
              <th>Interviewee</th>
              <th>Position</th>
              <th>Seniority</th>
              <th>Interviewers</th>
              <th>HR</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Aug, 5</td>
              <td>GTM 6 + Room Atlanta</td>
              <td>José González</td>
              <td>PHP developer</td>
              <td>Ssr/Sr</td>
              <td>Juan Pérez, Roberto García</td>
              <td>Marianela</td>
            </tr>
            <tr>
              <td>Aug, 5</td>
              <td>GTM 6 + Room Atlanta</td>
              <td>José González</td>
              <td>PHP developer</td>
              <td>Jr/Ssr</td>
              <td>Juan Pérez, Roberto García</td>
              <td>Camila</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
</section>
<hr>