<div class="row">
	<div class="col s12 l3 nav-space no-padding">
		<navbar></navbar>
		&nbsp;
	</div>

	<div class="col s12 l9 menu-opts">
		<div class="container center">
			<h2>Intereses</h2>
			<p>Elige los temas que te interesan para recibir las últimas noticias y artículos especialmente seleccionados para ti.</p>

				<!-- loop interests -->
				 <a class="btn interest-tag" ng-repeat="interest in interests" ng-class="{'light-blue': interest.isSelected}" ng-click="modifyInterest(interest.keyword)">{{interest.keyword}} <i class="mdi-navigation-check right" ng-show="interest.isSelected"></i></a>
				<!-- /loop interests -->

		</div>
	</div>
</div>