<div class="row">
	<div class="col s12 l3 nav-space no-padding">
		<navbar></navbar>
		&nbsp;
	</div>
</div>

<div class="row search-page">
	<div class="col s12">
		<form ng-submit="doSearch(searchquery)">
		<div class="input-field col s12">
          <i class="mdi-action-search sufix"></i>
          <input id="search" type="text" ng-model="searchquery">
          <label for="search">Buscar</label>
        </div>
        </form>
	</div>
</div>

	<div class="row">
		<div class="col s12 l9">
			<div ng-controller="PreferencesController">

					<!-- loop interests -->
					<ul class="interest-list">
						<li ng-repeat="interest in interests" class="valign-wrapper">
							<div class="col s7 valign">
								{{interest.keyword}}
							</div>
							<div class="col s5">
								<button class="btn interest-tag waves-effect waves-light" toggle-class="light-blue" ng-click="modifyInterest(interest.keyword)">Seguir</button>
							</div>
						</li>
					</ul>
					 
					<!-- /loop interests -->

					<!-- <hr class="interest-controllers"/>

					<div class="row center interest-controllers">
						<div class="col s12">
							<button type="button" class="btn fixed-width btn-large">Guardar</button>
						</div>
					</div> -->

			</div>
		</div>
	</div>