<div class="shareoptions card">
	<p>Compartir:</p>
  <ul>
    <li><a social-facebook custom-url="http://www.wisable.com/wisable_app/article/{{article.id}}" ng-click="sharearticle = false" class="share-fb">Facebook</a></li>
    <li><a social-twitter custom-url="http://www.wisable.com/wisable_app/article/{{article.id}}" ng-click="sharearticle = false" class="share-tw">Twitter</a></li>
    <li><a social-gplus custom-url="http://www.wisable.com/wisable_app/article/{{article.id}}" ng-click="sharearticle = false" class="share-gp">Google+</a></li>
  </ul>
</div>
