<div class="article-wrapper">
    <article>
        <div class="articleheaderimage-container valign-wrapper" ng-hide="!article.picture_url.length" ng-click="sharearticle = false">
            <img ng-src="{{::article.picture_url | decodeURIComponent}}" class="responsive-img articleheader-img valign" alt="article image" />
        </div>
        <div class="article-noimagespacer" ng-show="!article.picture_url.length"></div>
        <div class="card">
            <div class="card-content">
                <h1> <a ng-href="/#/article/{{article.id}}" class="grey-text text-darken-4">{{::article.title}}</a></h1>
                <p><a ng-href="/#/article/{{article.id}}" class="grey-text text-darken-4">{{::article.subtitle}}</a></p>
                <article-options></article-options>
            </div>
        </div>
        
    </article>
</div>